Parameter N : Type 0.
Parameter z : N.
Parameter s : N -> N.

Definition numeral := forall A : Type 0, (A -> A) -> (A -> A).

Definition zero  :: numeral := fun A f x => x.
Definition one   :: numeral := fun A f => f.
Definition two   :: numeral := fun A f x => f (f x).
Definition three :: numeral := fun A f x => f (f (f x)).

Definition plus :: numeral -> numeral -> numeral :=
  fun m n A f x => m A f (n A f x).

Definition times :: numeral -> numeral -> numeral :=
  fun m n A f x => m A (n A f) x.

Definition power :: numeral -> numeral -> numeral :=
  fun m n A => n (A -> A) (m A).
  
Definition four := plus two two.

Definition five := plus two three.
