$\newcommand{\G}{\Gamma}$
$\newcommand{\D}{\Delta}$
$\newcommand{\T}{T}$
$\newcommand{\U}{U}$
$\newcommand{\x}{x}$
$\newcommand{\y}{y}$
$\newcommand{\z}{z}$
$\newcommand{\e}{e}$
$\newcommand{\rulename}[1]{\text{\textsc{#1}}}$
$\newcommand{\bnf}{\ \mathrel{ {\colon}{\colon}{=}}\ }$
$\newcommand{\bnfor}{\ \mid\ \ }$
$\newcommand{\ctxempty}{\bullet}$
$\newcommand{\ctxextend}[3]{#1,\, #2\, {\colon}\, #3}$
$\newcommand{\Type}{\mathsf{Type}} % The type of all types$
$\newcommand{\Prod}[2]{\mathop{\textstyle\prod_{(#1 {\colon} #2)}}}$
$\newcommand{\lam}[3]{\lambda #1 {\colon} #2.{#3}\,.\,}$
$\newcommand{\app}[5]{#1\mathbin{@^{#2{\colon}#3.#4}} #5}$
$\newcommand{\abst}[2]{[#1 \,.\, #2]}$
$\newcommand{\ascribe}[2]{#1 \,{\colon}\, #2}$
$\newcommand{\JuEqual}[3]{\mathsf{Eq}_{ #1 }( #2, #3 )}$
$\newcommand{\juRefl}[1]{\mathsf{refl}_{#1}\ }$
$\newcommand{\isctx}[1]{#1\ \mathsf{ctx}}$
$\newcommand{\istype}[2]{\isterm{#1}{#2}{\Type}}$
$\newcommand{\isterm}[3]{#1 \vdash\,#2\,:\,#3}$
$\newcommand{\eqctx}[2]{#1 \equiv_{\mathsf{ctx}} #2}$
$\newcommand{\eqtype}[3]{\eqterm{#1}{#2}{#3}{\Type}}$
$\newcommand{\eqterm}[4]{#1 \vdash #2 \equiv #3 : #4}$
$\newcommand{\infer}[2]{\frac{\displaystyle #1}{\displaystyle #2}}$
$\newcommand{\subst}[3]{#1[#3/#2]}$
