<ul>
<li><a {% if page.navigation == "about" %}class="active"{% endif %}
       href="./index.html">About</a></li>
<li><a {% if page.navigation == "install" %}class="active"{% endif %}
       href="install.html">Installation</a></li>
<li><a {% if page.navigation == "type-theory" %}class="active"{% endif %}
       href="type-theory.html">Type theory</a></li>
<li><a {% if page.navigation == "meta-language" %}class="active"{% endif %}
       href="meta-language.html">Meta-language</a></li>
<li><a {% if page.navigation == "examples" %}class="active"{% endif %}
       href="examples.html">Examples</a></li>
<li><a {% if page.navigation == "code" %}class="active"{% endif %}
       href="code.html">Code</a></li>
</ul>

