eval
  val `fun (b : unit) => b`

eval
   let ty = val t`unit` in 
   lambda x : ty,  debruijn 0

eval
   let ty = val t`unit` in 
   lambda z : ty, val `z` 
     

eval
   lambda z : t`unit`, (`z` :> t`unit`)
